@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Righteous&family=Roboto:wght@400;900&display=swap');

.body {
    font-family: 'Montserrat', 'Roboto';
}

.form, .results, .movies, .weather-results {
    margin: 2rem;
}


header {
    background-color: cornflowerblue;
    font-weight: 700;
}

